
.site-logo {
  margin-right: 30px;
  max-width: 250px;
  width: 100%;
  display: inline-block;
}

header {
  padding-bottom: 1rem;
}

.site-name-menu {
  font-size: 200%;
  line-height: 1.2em;
  font-weight: 700;
  width: calc(100% - 290px);
  a {
    text-decoration: none;
    &:hover {
      color: var(--color-dark-gray);
    }
  }
}

.site-branding {
  max-width: var(--page-max-width);
}

.menu--account {
  margin-bottom: 0;
}
