
.site-logo {
  margin-top: .5rem;
  margin-right: .5rem;
  max-width: 250px;
  width: 100%;
  @include respond-to(small-up) {
    margin-right: 0;
    width: auto;
  }
}

header {
  padding-bottom: 1rem;
}

.site-name-menu {
  font-size: 200%;
  line-height: 1.2em;
  font-weight: 700;
  a {
    text-decoration: none;
    &:hover {
      color: var(--color-dark-gray);
    }
  }
}

.menu--account {
  margin-bottom: 0;
}
