body {
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-left: 10px;
}

main {
  font-weight: 100;
}

/* Add some default padding to regions. We don't add it to the layout container so we can
 * override later if we want things full width (hint - header and footer have wrappers that
 * can be full width. Main is included here, as it has multiple regions.
 */
.region-help,
.region-highlighted,
.region-footer,
.paragraph--type--_-column > .paragraph-sections,
.paragraph--type--_-columns > .paragraph-sections,
.paragraph--type--page-title,
main,
.page-node-type-page .node__content > .field--name-body {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--page-max-width);
  @include respond-to(medium-down) {
    display: block;
  }
}

.page-node-type-page main {
  margin-right: auto;
  margin-left: auto;
}

header {
}

.region-header {
  margin: 2em auto 0 auto;
  width: 100%;
}

.region-secondary-menu {
  margin: 0 auto;
  width: 100%;
  max-width: var(--page-max-width);
}

.layout-container {
  background: var(--color-white);
}

.region-highlighted {
  margin-top: 0;
  margin-bottom: 0;
}

nav.tabs {
  margin-top: 1em;
  margin-bottom: 1em;
}

.messages {
  margin-top: 1em;
  margin-bottom: 1em;
}

.region-help {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

// This is the Page Body

.page-node-type-page .node__content > .field--name-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page-node-type-page .search-block-form {
  text-align: right;
  margin-bottom: 0;
}

.sm-simple > li:first-child > a {
  margin-left: 0;
}

.sm-simple > li > a,
.sm-simple > li > a.highlighted,
.sm-simple > li > a:active,
.sm-simple > li > a:focus,
.sm-simple > li > a:hover {
  padding-left: 0;
}

.layout-content {
  padding-bottom: 2em;
  min-height: 300px;
}
