<div style="display: flex;">
    <div style="background: var(--color-light-blue);background-image: url('/sites/default/files/inline-images/top.png');flex-basis: 60%;background-repeat: no-repeat;background-position: bottom;background-size: 100%;">
        <div style="flex-basis: 100%;">
            <h2 style="padding: 1em; color: #fff; font-family: 'Open Sans';font-weight: 100;font-size: 2em; line-height: 1.5;">Technology for a Changing World</h2>
        </div>
    </div>

    <div style="background: var(--color-light-gray); flex-basis: 40%; padding: 2em;">
        <h2 style="margin-bottom: 5px;"><a>Degree Programs</a></h2>

        <p style="font-size: 1em; margin-bottom: 1em; line-height: 1.3;">Bioengineering, Robotics, etc.<br />
            <a>See more Degree Programs &gt;&gt;</a></p>

        <h2 style="margin-bottom: 5px;"><a>Research</a></h2>

        <p style="font-size: 1em; margin-bottom: 1em; line-height: 1.3;">Electrical Engineering, Computer Science<br />
            <a>See more Research &gt;&gt;</a></p>

        <h2 style="margin-bottom: 5px;"><a>Faculty</a></h2>

        <p style="font-size: 1em; margin-bottom: 1em; line-height: 1.3;">Amazing people to learn from<br />
            <a>See more Faculty &gt;&gt;</a></p>
    </div>
</div>
