footer {
  padding: 3rem 0 3rem;
  border-top: 1px solid var(--color-blue);
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.region-footer .field--name-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  .footer-left, .footer-right {
    flex-basis: 100%;
    width: 100%;
    @include respond-to(medium-up) {
      flex-basis: 50%;
      width: 50%;
    }
  }
  .footer-map {
    flex-basis: 100%;
    width: 100%;
    iframe {
      width: 100% !important;
      max-width: 100% !important;
      float: right;
    }
    @include respond-to(medium-up) {
      flex-basis: 50%;
      width: 50%;
    }
  }
}